{{>layout/header}}

<form>
    <select id="sort">
        <option value="asc">오름차순</option>
        <option value="desc">내림차순</option>
    </select>
    <div class="btn-group" role="group" aria-label="Basic example">
        <input id="host_keyword" name="keyword" type="text" placeholder="검색어를 입력해주세요.">
        <button class="btn btn-secondary" onclick="host_search_function()">검색</button>
    </div>
</form>

<table class="table" id="userList">
    <thead class="thead-light">
    <tr>
        <th scope="col">No.</th>
        <th scope="col">검색어</th>
        <th scope="col">호스트명</th>
        <th scope="col">누적 검색수</th>
    </tr>
    </thead>
    {{#hostList}}
        <tbody>
        <tr>
            <td>{{id}}</td>
            <td>{{keyword}}</td>
            <td>{{host}}</td>
            <td>{{acc_cnt}}</td>
        </tr>
        </tbody>
    {{/hostList}}
</table>

{{>layout/footer}}
