{{>layout/header}}

<h1>Login</h1> <hr>
<form action="/user/login" method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    id : <input type="text" name="uid" maxlength="10" required pattern="^[a-zA-Z]+$"> <br>
    password : <input type="password" name="password" minlength="8" required pattern="^.*(?=^.{8,}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$"> <br>
    <button type="submit">Login</button>
</form>
<br>

<a href="/join">Go to join! →</a>

{{>layout/footer}}